.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 800px;
  margin: auto;
  margin-top: 10px;
  min-height: 100vh;
  overflow-y: scroll;
  border-radius: 20px;
}

.done {
  text-decoration: line-through;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}

.done-btn {
  background-color : #10647b;
  color: white;
}

.del-btn {
  color : white;
  background-color: #811313;

}

input {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.head{
  display: flex;
}

.btn {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-add {
  background-color: green;
  color: white
}